<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>hey there</h1>
    <h2>this is form index.html</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero tenetur
      aliquid explicabo. Dicta a repellendus facere labore, voluptatibus animi,
      odit nemo assumenda nisi odio saepe hic reprehenderit totam nulla impedit?
    </p>
  </body>
</html>
